body{
    background-color: brown;
}

.message{
    display: flex;
    justify-content: center;
}

h3{
    background-color: white;
    border:2px solid black;
    padding: 10px;
}

img{
    height: 500px;
    border: 2px solid black;
}