#caseBlanche, #hautCase, .basCase, #bd, #bm, #bp {
    border: 2px solid black;
    background-color: white;
    text-align: center;
}

#caseBlanche {
    padding-bottom: 1px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#hautCase {
    border-top: 0px;
    border-inline: 0px;
    flex:1;
    font-size:20px;
    flex-direction: row;
}

#container-caseBlanche {
    flex-direction: row;
    padding-inline: auto;
}

.basCase {
    flex:1;
    font-size:20px;
    flex-direction: row;
}

/*Flexbox*/
/*afin de répartir équitablement des éléments sur la page */
.flex-container {
    display: flex;
    justify-content: center;
}

#bd, #bm, #bp {
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    padding-top: 2%;
    padding-bottom:2%;
    padding-right:2%;
}

#hautDePage {
    text-align: center;
}

.flex-container2 li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline: 10px;
}

.flex-container2 li div {
    padding-inline: 20px;
}

ul li div p {
    text-align: center;
}

.dropdown-item {
    color: red;
}